.git
.github
node_modules
vendor
public/build
public/hot
storage/*.key
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
.env
.env.*
!.env.example
*.md
.ai
.idea
.vscode
.fleet
Dockerfile
docker-compose.yml
.dockerignore
